img {
    max-width: 100%;
    max-height:400px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.margin{
    margin-top: 10px;
    margin-bottom: 10px;
}
/*image property */
.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.media {
    min-width: 0;
    margin: 5px;
}
.header-text{
    font-family: 'Raleway', sans-serif;
    flex-direction: row;
    font-size: 22px;
}
.header-text-oxblood{
    font-family: 'Raleway', sans-serif;
    flex-direction: row;
    font-size: 22px;
    color: #D7CEC7;
}
.img-responsive {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}
.a{
    color: #565656;
    text-decoration: none;
}

.button-text-white-spaced{
    font-family: 'Raleway', sans-serif;
    flex-direction: row;
    font-size: 18px;
    color: #FFFFFF;
    margin: 20px 60px 30px 45px;
}
.button-text-white-notspaced{
    font-family: 'Raleway', sans-serif;
    flex-direction: row;
    font-size: 18px;
    color: #FFFFFF;
    margin: 2px 6px 3px 4px;
}
.button-text-tan-spaced{
    font-family: 'Raleway', sans-serif;
    flex-direction: row;
    font-size: 18px;
    color: #C09F80;
    margin: 20px 60px 30px 45px;
}
.button-text-tan-notspaced{
    font-family: 'Raleway', sans-serif;
    flex-direction: row;
    font-size: 18px;
    color: #C09F80;
    margin: 2px 6px 3px 4px;
}
br{
    width: 10px;
    background-color: black;
}

.table {
    display: flex;
    flex: 2;
    border: 2px #565656;
    padding: 10px;
    width: 100%;
}

.table-link{
    color: #C09F80;
    text-decoration: none;

}
.table-link:hover{
    color: #FFFFFF;
}